pkgbase = httrack
	pkgdesc = An easy-to-use offline browser utility.
	pkgver = 3.48.21
	pkgrel = 1
	url = http://www.httrack.com/
	install = httrack.install
	arch = i686
	arch = x86_64
	license = GPL
	depends = bash
	depends = zlib
	options = !libtool
	options = !makeflags
	source = http://download.httrack.com/httrack-3.48.21.tar.gz
	sha256sums = e9cac3d8a5229f8e789e377b66d517b001fb13698f3e36b82659967365728283

pkgname = httrack

