pkgbase = httrack
	pkgdesc = An easy-to-use offline browser utility.
	pkgver = 3.48.7
	pkgrel = 1
	url = http://www.httrack.com/
	install = httrack.install
	arch = i686
	arch = x86_64
	license = GPL
	depends = bash
	depends = zlib
	options = !libtool
	options = !makeflags
	source = http://download.httrack.com/httrack-3.48.7.tar.gz
	sha256sums = b8c1783a56b8a5cbb5bdee899a56e9633e54eed840ee85fee22aa62d8d7b57c3

pkgname = httrack

